doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  link(rel="stylesheet" href="/stylesheets/_common.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  body
    .main-area
      .main-wrap
        .content
          .main-container
            .main-container-title
              a(href="/")
                img(src="/images/logo-ceo.png" alt="")
              h1 사장님 로그인 해 주세요!!
            .main-btn
              button(onclick="location.href='/login'") 배민사장님 광장 로그인
            .main-etc
              p.login-not
                a(href="") 아이디
                |  / 
                a(href="") 비밀번호 찾기
                |  | 
                a(href="") 회원가입
