<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/stylesheets/_common.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<body>
    <div class="main-area">
        <div class="main-wrap">
            <div class="content">
                <div class="main-container">
                    <div class="main-container-title">
                        <a href="/">
                            <img src="/images/logo-ceo.png" alt="">
                        </a>
                        <h1>사장님 로그인 해 주세요!!</h1>
                    </div>
                    <div class="main-btn">
                        <button onclick="location.href='/login'">배민사장님 광장 로그인</button>
                    </div>
                    <div class="main-etc">
                        <p class="login-not">
                            <a href="">아이디</a> / <a href="">비밀번호 찾기</a> | <a href="">회원가입</a>
                        </p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>