<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배달의민족 사장님 통합 로그인</title>
</head>
<link rel="stylesheet" href="/stylesheets/_common.css">
<link rel="stylesheet" href="/stylesheets/login.css">
<body>
    <div class="login-area">
        <div class="login-wrap">
            <div class="content">
                <div class="login-container">
                    <h1 class="login-container-title">
                        <a href="/">
                            <img src="/images/logo-ceo.png" alt="">
                        </a>
                    </h1>
                        
                    <div>
                        <p class="login-message"></p>

                        <form class="login-form" action="/login" method="post">
                            <p class="input-id">
                                <input type="text" name="userid" placeholder="아이디">
                            </p>
                            
                            <p class="input-password">
                                <input type="password" name="password" placeholder="비밀번호">
                            </p>
                            <div class="login-etc">
                                <p class="id-save">
                                    <input type="checkbox" name="isSavedUserId">
                                    <span>아이디 저장</span>
                                </p>

                                <p class="login-not">
                                    <a href="">아이디</a> / <a href="">비밀번호 찾기</a> <a href="">회원가입</a>
                                </p>

                            </div>
                            <p>
                                <button class="login-submit-btn" type="button">로그인</button>
                            </p>
                        </form>
                        
                    </div>
                </div>    
            </div>

            <div class="footer">
                <div class="footer-link">
                    <a href="https://mart.baemin.com/"><img src="/images/login-logo-mart.png" alt=""></a>
                    <a href="https://academy.baemin.com/?utm_source=ceopage&utm_medium=link&utm_campaign=ongoing&utm_content=logo_login"><img src="/images/login-logo-academy.png" alt=""></a>
                    <a href="https://note.baemin.com/"><img src="/images/login-logo-jangbu.png" alt=""></a>
                </div>
                <p class="copyright">© Woowa Brothers Corp.</p>
            </div>


        </div>
    </div>
</body>
<script src="/public/javascripts/login.js"></script>
</html>