<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배달의민족 사장님 통합 로그인</title>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <p>배민 사장님 광장</p>
            <p>
                <input type="text" name="userid" id="">
            </p>
            <p>
                <input type="text" name="password" id="">
            </p>
            <p>배달의민족 사장님 통합 로그인
                <input type="checkbox" name="userid-save" id="">
            </p>
            <p>
                <button type="submit">로그인</button>
            </p>
        </form>
    </div>
</body>
</html>