<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

    title 배달의민족 사장님 통합 로그인

div    
    form(action='/login' method='post')
        p 배민 사장님 공간
        p
            input(type='text' name='userid' id='' placeholder='아이디')
        p
            input(type='text' name='password' id='' placeholder='비밀번호')
        p
            input(type='checkbox' name='userid-save' id='')
        p
            button(type='submit') 로그인