<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/stylesheets/_common.css">
<link rel="stylesheet" href="/stylesheets/signupComplete.css">
<link rel="stylesheet" href="">
<body>
    <div class="complete-area">
        <div class="complete-wrap">
            <div class="content">
                <div class="complete-container">
                    <div class="complete-container-title">
                        <a href="/">
                            <img src="/images/logo-ceo.png" alt="">
                        </a>
                        <h1>회원이 되셨습니다.</h1>
                    </div>
                    <div class="main-link">
                        <a href="/">메인으로 <i class='fas fa-arrow-right'></i></a>
                    </div>
                    <div class="complete-info">
                        <ul class="info-box">
                            <li><span>이름</span><span>가나다</span></li>
                            <li><span>아이디</span><span>ididid</span></li>
                            <li><span>이메일</span><span>email@email.com</span></li>
                            <li><span>휴대폰</span><span>010-2345-2345</span></li>
                        </ul>
                        <p class="modify-link">위 정보는 <a href="">내 정보 관리</a>에서 수정하실 수 있습니다.</a></p>
                    </div>
                </div>    
            </div>
            <div class="footer">
                <div class="footer-link">
                    <a href="https://mart.baemin.com/"><img src="/images/login-logo-mart.png" alt=""></a>
                    <a href="https://academy.baemin.com/?utm_source=ceopage&utm_medium=link&utm_campaign=ongoing&utm_content=logo_login"><img src="/images/login-logo-academy.png" alt=""></a>
                    <a href="https://note.baemin.com/"><img src="/images/login-logo-jangbu.png" alt=""></a>
                </div>
                <p class="copyright">© Woowa Brothers Corp.</p>
            </div>
        </div>
    </div>
</body>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>