@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  font-family:'Roboto' ,'Noto Sans KR', 'sans-serif';
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('※'),
  url('../fonts/Roboto-Regular.eot'),
  url('../fonts/Roboto-Regular.eot#iefix') format('embedded-opentype')
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.otf') format('opentype'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
} */

:root {
  --input-border-color: #d7dbe6;
  --active-btn-color:  #1a7cff;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto', 'Noto Sans KR', sans-serif, '돋움', 'Dotum', helvetica; */
}

input:focus { 
  outline: none !important;
}
button:focus {
  outline: none !important;
}
select:focus{
  outline: none !important;
}