@import url(./fonts/notosanskr.css); 
@import url(./fonts/roboto.css); 

body {
  font-family:'Roboto' ,'Noto Sans KR', 'sans-serif';
}

:root {
  --input-border-color: #d7dbe6;
  --active-btn-color:  #1a7cff;
}

* {
  margin: 0;
  padding: 0;
}

input:focus { 
  outline: none !important;
}
button:focus {
  outline: none !important;
}
select:focus{
  outline: none !important;
}